body
{
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}
.container
{
	width: 1170px;
	margin: 0 auto;
    text-align: center;
	height: auto;
	display: block;
}
#banner
{
	background-position: center;
	height: 700px;
	background-image: url(../Images/banner-img.png);
	background-size: cover;
}
header
{
	position: fixed;
	height:70px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}
#header-nav
{
	float: right;
	text-decoration: none;
	list-style-type: none;
    padding: 5px;
}
#bannerlogo
{
	position: absolute;
	margin-left: 100px;
	margin-top: 15px;
	z-index: 100;
}
#logoId
{
	margin-top: 15px;
    position:relative;
    float: left;
    background-color: transparent;
    border-radius: 20px;
}
#logoId:after
{
	content: "";
    height: 50px;
    width: 110px;
    margin-top: 55px;
    background-color: rgba(0, 0, 0,0.7);
    position: absolute;
    float: left;
    margin-left: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#ahref
{
	color:white;
	text-decoration: none;
}
nav ul li 
{
	display: inline;
	padding: 8px 10px;
	list-style-type: none;
	color: white;
	text-decoration: none;
}
header-nav a
{
	text-align: center;
	display: block;
}
#btn
{
	color: white;
	padding: 7px;
	background-color: #a2c73c;
	border-radius: 30px; 
	text-decoration: none;
	margin-right: 80px;
}
#banner-graph
{
	margin-top: 160px;
	margin-bottom: 0px;
}
#bannertitle
{
	margin-top: 70px;
	font-weight: bold;
	font-size :50px;
	color:white;
	margin-bottom: 0px;
}
.big-button
{
	margin-top: 90px;
	width:560px;
	height: 65px;
	background-color: #a2c73c;
	color:white;
	border: none;
	border-radius: 30px; 
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 110px;
}
.square
{	
	float: left;
	height: 265px;
	width: 265px;
}
#square-text
{
	font-size: 18px;
	font-weight: bold;
}
.color-style-p1
{
	color: #636462	
}
.color-style-p2
{
	color: white;	
}
.color-style-p3
{
	color: #4494d1;	
}
.color-style-p4
{
	color: black;	
}
.color-style-p5
{
	color: azure;	
}
#quote-img
{
	margin-top: 45px;
}
#square-img
{
	width: 265px;
	height: 265px;
}
#gridContainer
{
	padding: 110px;
	margin: 0 auto;
    width: 795px;
	height: 795px;
}
#gridContainer .square:nth-child(1)
{
	background-color: #a2c73c;
	position: relative;
}
#gridContainer .square:nth-child(3)
{
	position: relative;
	background-color: #075daa;
}
#gridContainer .square:nth-child(7)
{
	position: relative;
	background-color: #4494d1;
}
#gridContainer .square:nth-child(9)
{
	position: relative;
	background-color: #0eb049;
}
#first
{
	padding: 10px;
}
#first:after
{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	border: 20px solid transparent;
	border-left-color: #a2c73c;
	border-right: 0;
	margin-top: -22px;
	margin-right: -18px;
}
#second
{
	padding: 10px;
}
#second:after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 20px solid transparent;
	border-top-color: #075daa;
	border-bottom: 0;
	margin-left: -22px;
	margin-bottom: -19px;
}
#third
{
	padding: 10px;
}
#forth
{
	padding: 10px;
}
#forth:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border: 20px solid transparent;
	border-bottom-color: #4494d1;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}
#fifth
{
	padding: 10px;
}
#fifth:after
{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border: 20px solid transparent;
	border-right-color: #0eb049;
	border-left: 0;
	margin-top: -15px;
	margin-left: -20px;
}
.Discover
{
	margin-left: 80px;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 20px;
	bottom: 0px;
}
.Discover a
{
	color: black;
	text-decoration: none;
}
#normalContainer
{
	margin: 0 auto;
    text-align: center;
	width:900px;
}
#wel
{
	height: 540px;
	background-color: #0072bc;
}
#wel-title
{
	color: white;
	padding-top: 90px;
}
#wel-text
{	
	padding-top: 60px;
	margin: 0 auto;
    text-align: center;
	color: white;
	font-size: 18px;
}
#wel-button
{
	font-weight: bold;
	margin-top: 70px;
	width:561px;
	height: 66px;
	background-color: #a2c73c;
	color:white;
	border: none;
	border-radius: 30px; 
}
#round-img
{
	width: 100px;
	height :100px;
}
#grid2
{
	padding-top: 80px;
	padding-bottom: 70px;
	margin: 0 auto;
	width: 1050px;
}
.shape
{
	text-align: center;
	display: inline-block;
	width: 345px;
}
#bb
{
	background-color: white;
	margin-top: 40px;
	width: 262px;
	height: 50px;
	color: #4494d1;
	border-color: #a2c73c;
	border-radius: 30px;
	border-style: solid;
}
#grid2 .shape:nth-child(4)
{
	padding-top: 50px;
	padding-left: 30px;
	width: 460px;
}
#grid2 .shape:nth-child(5)
{
	padding-left: 30px;
	width: 460px;
}
footer
{
    background-color: #0f151a;
    width: 100%;
    height: 365px;
}
footer .container .first-div
{
    margin-top: 50px;
}
footer .container .second-div img
{
    margin-top: 50px;
}
footer .container .grid3-item
{
    float: left;
    width: 583px;
}
.grid3-item ul
{
    list-style: none;
    float: left;
    color: #3e6485;
   	margin-top: 80px;
}
.grid3-item ul li 
{
    float: left;
    margin-top: 40px;
    width: 33%;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}
.grid3-item a 
{
    text-decoration: none;
    color: #3e6485;
}
#middle
{
    margin-left: 35px;
    margin-right: 35px;
}
#footer-line p
{
	margin-top: 20px;
}
#footer-line
{
	height: 80px;
	text-align: center;
	background-color: #0f151a;
	border-top: 0.5px solid black;
	color: #3e6485;
}
